* { box-sizing: border-box; }

body {
	padding: 0;
	margin: 0;
	font-family: "open_sansregular",'Open Sans',Arial,Helvetica,sans-serif;
}


/*	Page Container
===============*/
.pkp_structure_content {
	width: 100%;
}

/*	Header Container
====================*/

#headerContainer {
		background: #3A72BC;
    color: #FFFFFF;
    width: 100%;
    display: block;
}

.pkp_structure_masthead,
.pkp_structure_masthead {
	background-color: #ECEDF1 !important;
}

.pkp_structure_head_siteNav .pkp_helpers_flatlist{
	border-bottom: 1px dotted #f6f7f8;

}

.pkp_structure_head_siteNav .pkp_helpers_flatlist ul li a{
	margin-right: 20px;

}

/*	Logo
============*/
.logo-container {
	width: 50%;
	display: inline-block;
	margin-right: 20px;
}

.logo-container img {
	max-width: 100%;
}

/*	Page title
===================*/
.title-container {
	display: inline-block;
}

.title-container span {
	color: #fff;
	text-transform: uppercase;
}

.header-title {
	color: #FFFFFF;
	padding: 0;
	margin: 0;
	font-size: 4em !important;
	font-family: open_sansextrabold,'Open Sans',Arial,Helvetica,sans-serif;

}

/*	Reset
============*/
.sf-menu {
	float: none;
	margin: 0;
}

/*	Header title
================*/
.home-link:hover {
	text-decoration: none;
}

.item a{

		color: #fff;
}

.accessibility{
	width: 50%;
	text-align: left;

}

.accessibility ul li {
	font-family: Arial,Helvetica,sans-serif!important;
	margin: 0;
	line-height: 5px;
	padding-top: 2px;
	padding-right: 5px;
	display: inline;
}

.accessibility ul li a {
	color: #dcecff;
  font-size: .7em;
}


.accessibility ul li a:link, :visited {
    text-decoration: none;
}

.header-title {
	font-size: 3em;
	font-weight: bold;
	margin: 0;
	font-family: "open_sansextrabold",'Open Sans',Arial,Helvetica,sans-serif;
}

.header-subtitle {
	font-size: 0.9em;
	text-transform: uppercase;
}

.pkp_structure_head {
	height: auto; /*remove height header limitation*/
}

.pkp_structure_head_siteNav {
	border: none;
}

.container960 {
	width: 100%;
	margin: 0 auto;
}




/*	Sub bar
==========*/
.header-subbar {
	background-color: #0f4098;
}

/*	Search Bar
==============*/
.pkp_structure_search {
	border: none;
	padding: 3px 0;
	margin: 0 auto;
}

#topSearchForm {
	text-align: center;
}

#topSearchFormField {
	border-radius: 20px;
	padding: 2px 15px;
	height: auto;
	font-size: 0.9em;
}

.search-btn {
	border: 0;
	background: transparent;
}

/*	Menus
============*/
.pkp_helpers_flatlist li,
.sf-menu li {
	display: inline-block;
	float: none;
	text-transform: uppercase;
}

.sf-menu li a,
.pkp_helpers_flatlist li a {
	color: #dcecff !important;

}

.sf-menu li:hover ul,
.sf-menu li.sfHover ul {
	top: 1.8em;
}

.sf-menu li li {
	background-color: #ECEDF1;
}

/*	Menu links
=============*/
.pkp_structure_head_localNav {
	text-transform: none;
	font-size: 1em;
	font-family: 'Open Sans';

}

/*	Main Struct
=============*/
.pkp_structure_body,
.pkp_structure_main {
	border: none !important;
}

/*	Sidebar
=============*/
.pkp_structure_sidebar {
	border: none;
}


/*	Page Footer
===============*/
.pkp_structure_foot {
	background: #3A72BC;
    color: #FFFFFF;
    width: 100%;
}

.img-associacoes .pkp_structure_content{
		max-width: 100%;
}

.img-associacoes ul li {
	display: inline-block;
	margin-right: 70px;
}

.footer-logos {
	padding: 25px 0;
  background: #0041b2;
}

.footer-logos .pkp_structure_content{
	margin-bottom: 40px;
  margin-left: auto;
}

.footer-logos .right {
	float: right;
}

.footer-logos .left {
	float: left;
}

.footer-logos .pkp_structure_content a img {
	  max-width: 100%;
		height: auto;
}



/*
=============================
	Responsividade (Desktop)
=============================*/
@media screen and (min-width: 960px) {
	.pkp_structure_content {
		width: 960px;
	}

	.container960 {
		width: 960px;
		margin: 0 auto;
	}

	/*Menu*/
	.pkp_structure_head_localNav {
		text-align: center;
		font-weight: bold;
	}

	/*Search*/
	#topSearchForm {
		text-align: right;
	}

	/*Logo*/
	.logo-container {
		width: 15%;
	}
}
